<!doctype html>
<html lang="en" data-layout="horizontal" data-layout-style="detached" data-sidebar="light" data-topbar="dark" data-sidebar-size="lg" data-sidebar-image="none">


<!-- Mirrored from themesbrand.com/velzon/html/interactive/tables-datatables.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 06 Sep 2022 12:34:10 GMT -->
<head>

    <%- include('./partials/head.ejs') %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title> NAC Bidding | Admin</title>

    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="author" content="Sundar Infographic Analytics" />
    <meta name="copyright" content="Sundar Infographic Analytics" />

    <!--datatable css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>



    <link rel="stylesheet" href="/DataTables/datatables.css" />
    <script src="/DataTables/datatables.js"></script>

    <script src="admin/public/assets2/layout.js"></script>
   
    <style>

        .apexcharts-text tspan {
            font-family: inherit;
            font-weight: bold;
            color-interpolation: linearrgb;
        }
        .card-header {
            border-bottom: 1px solid var(--vz-border-color);
        }
        .card-title {
            font-size: 16px;
            margin: 0 0 7px 0;
            color: black;
        }
        .form-control {
            display: block;
            width: 340px !important;
        }
        .footer {
            background-color: var(--vz-footer-bg);
            width: 100%;
        }
        .new-style .container-fluid{
            max-width: 100% !important;
        }
        [data-layout=horizontal] .page-content{
            margin-top: 0 !important;
        }
        .nowrap{
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        h1{
                font-size:30px;
            }
            /*Table Style One*/
            .table .table-header{
                background:white;
                color:#333;
            }
            .table .table-header .cell{               
                text-align: center;
                color: black;
            }
            @media screen and (max-width: 640px){
                table {
                    overflow-x: auto;
                    display: block;
                }
                .table .table-header .cell{
                    padding:20px 5px;
                    text-align: center;
                }
            }
            .textcenter{
                text-align: center;
            }
            .text-muted{
                color: #777 !important;
            }
            .text-uppercase {
                text-transform: uppercase !important;
            }
            .ri-space-ship-line:before {
                content: "\f166";
                margin-left: 13px;
            }
            .ri-arrow-down-circle-line:before {
                content: "\ea4a";
                margin-right: 10px;
            }
            .footer {
                /* color: blueviolet; */
                background: #2f368a;;
            }
            .overflowx{
                overflow-x: scroll;
                margin-right: 10px;
            }
            /* body {
                background-color: #e6b3cc;
            } */
            @media screen and (min-width:1920px){
                .overflowx{
                    overflow-x: unset;
                }
            }
            .logo{
            margin-left: -292px;
            }
            .py-4 {
            padding-top: 1.5rem!important;
            padding-bottom: 1.5rem!important;
            border: 1px solid #000;
            border-color: #c59237!important;
            }
            .logo-main {
                width: 40%;
            }
            .strip {
                width: 100%;
                background: #2f368a;
                height: 30px;
            }
            [data-layout=horizontal] .page-content{
                padding-top: 10px !important;
            }
            .crm-widget .col{
                border: none !important;
            }
            .page-content.new-style .card {
                box-shadow: none !important;
            }
            .py-4{
                margin: 0 10px !important;
                    border-radius: 10px;
                }
               
                .col-xl-12 {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 auto;
                    flex: 0 0 auto;
                    width: 70%;
                    margin-left: 263px;
                }
                .btn-info {
                    color: #fff;
                    background-color: #2f368a;
                    border-color: #2f368a;
                    margin-left: 401px;                    
                }
                .section1{
                    padding: 10px 0;
                }
                .burron {display: inline-flex;margin: 6px 0;}
                .burron .product_class {margin: 0 5px;background: #2f368a;border-radius: 5px;}
                button.btn.btn-soft-success.shadow-none {color: #fff;font-size: 17px;}
                .section10 {
                    background: #2c458f;
                    padding: 0 20px;
                }
                .section11 {
                    padding: 20px 20px 0 20px;
                }
                .bodt_txt {
                    font-weight: bold;
                    font-size: 15px;
                    color: #495057 !important;
                }
                .ff-secondary.mb-4 span {
                    font-size: 30px;
                }
                .padt-0{padding-top: 0;}
                .section12 {
                    margin: 10px 20px;
                }
                
        </style>
</head>

<body>

    <!-- Begin page -->
    <div class="section1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <a href="/"> <img src="assets/images/logo.png"  alt="Logo" class="logo-main" /></a>
                </div>                    
            </div>
        </div>
    </div>
    <div class="vertical-overlay"></div>
    <div class="section10">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                        <div class="burron">
                            <div>
                                <div>
                                <a href="/product_details" > <button type="button" class="btn btn-soft-success shadow-none"><i class="ri-add-circle-line align-middle me-1"></i>Product List</button></a>
                            </div>
                            </div> 
                            <div>
                                <form class="product_class" action="/user_list" method="get" >  
                                    <button type="submit" class="btn btn-soft-success shadow-none"><i class="ri-pulse-line"></i>Users</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="layout-wrapper">     
      
        <div class="main-content">           
            <div class="page-content new-style">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <img src="admin/public/assets/naclogo.jpg" class="myClass" alt="">

                                
                                <div class="card-header">                                   
                                    <h4 class="card-title mb-0 flex-grow-1" style="font-weight: bold;">Bidding Details</h4>
                                </div>                               
                                <div class="card-body overflowx">
                                    <div class="row mb-2 pl-4">
                                        <div class="col-3">
                                            <label for="dropdown1">Product List</label>
                                            <select class="form-control"  id="dropdown1">
                                                <option value="">All</option>
                                                <%for(var c=0; c < count_ba.length; c++){%>
                                                <option value="<%-count_ba[c].Item_Name%>"><%-count_ba[c].Item_Name%></option>
                                                <%}%>
                                            </select> 
                                        </div>
                                        <div class="col-3">
                                            <label for="dropdown2">Product List</label>
                                            <select class="form-control"  id="dropdown2">
                                                <option value="">All</option>
                                                <option value="Unsuccessful">Unsuccessful</option>
                                                <option value="Successful">Successful</option>                                                    
                                            </select>  
                                        </div>
                                    </div>                    
                                    <table id="example1" class="table table-bordered dt-responsive nowrap table-striped" style="width:100%">
                                        
                                        <thead>
                                            <tr class="table-header">                                              
                                                <th class="cell">Bidding Product</th>  
                                                <th class="cell">Bidding Amount</th>  
                                                <th class="cell">Bidding Status</th> 
                                                <th class="cell">Bidding Time</th>                                                                                                  
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            <%
                                            var b={};
                                                user_list.forEach(el => {
                                                    b[el.item_name] = (b[el.item_name] || 0) + 1;
                                                })                   
                                                console.log(b)  
                                            for(var t=0; t < user_list.length; t++){%>        
                                                                           
                                        
                                                <tr class="textcenter">
                                                    <td colspan="<%-b%>"><%-user_list[t].item_name%></td>                                         
                                                    <td style="text-align: right;"><%-(user_list[t].bid_amount) ? parseFloat(user_list[t].bid_amount).toLocaleString('en-IN', {maximumFractionDigits: 2, style: 'currency',currency: 'INR'}): "-"%></td>
                                                        <%
                                                            var status = '';
                                                            var colour = '';

                                                            if(user_list[t].status == 0){
                                                                status="Unsuccessful";
                                                                color = 'danger';
                                                            } else {
                                                                status= "Successful"
                                                                color='success'
                                                            }
                                                        %>
                                                        <td><span class="badge bg-<%-color%>"><%-status%></td>
                                                        <%
                                                            var betting_date = user_list[t].new_created_date
                                                            if(!betting_date){betting_date="Dint Bid Yet"}
                                                            else{ betting_date= moment(user_list[t].new_created_date).format('hh:mm A')}
                                                        %>
                                                    <td> <%-betting_date%></td>
                                                 </tr>
                                            <%}%>                                       
                                        </tbody>
                                    </table>
                                    <!-- Edit Modal HTML -->
                                    
                                    <!-- end modal --> 
                                    <!-- create Modal HTML -->
                                    
                                    <!-- end modal --> 
                                    <!-- deletemodal -->
                                    <style>
                                        .center {
                                            display: block;
                                            margin-left: auto;
                                            margin-right: auto;
                                            width: 50%;
                                        }
                                    </style>
                                                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

        </div>
    </div>
        <!-- end main content-->


    <!-- END layout-wrapper -->



    

    <!-- JAVASCRIPT -->
    
    
   

    <%- include('./partials/footer.ejs')%>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  
<script>
    $(document).ready(function () {
        var table = $('#example1').DataTable({
        "bSort": false,
        order: false,
        });
        $('#dropdown1').on('change', function () {
            table.columns(0).search(this.value).draw();
        })
        $('#dropdown2').on('change', function () {
            table.columns(2).search(this.value, true, false, false).draw();
        })
    });
    
        
            
        
    
</script>
    
</body>


<!-- Mirrored from themesbrand.com/velzon/html/interactive/tables-datatables.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 06 Sep 2022 12:34:23 GMT -->
</html>