<!doctype html>
<html lang="en" data-layout="horizontal" data-layout-style="detached" data-sidebar="light" data-topbar="dark" data-sidebar-size="lg" data-sidebar-image="none">


<!-- Mirrored from themesbrand.com/velzon/html/interactive/tables-datatables.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 06 Sep 2022 12:34:10 GMT -->
<head>

    <%- include('./partials/head.ejs') %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title> NAC Bidding | Admin</title>

    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="author" content="Sundar Infographic Analytics" />
    <meta name="copyright" content="Sundar Infographic Analytics" />

    <!--datatable css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>



    <link rel="stylesheet" href="/DataTables/datatables.css" />
    <script src="/DataTables/datatables.js"></script>

    <script src="admin/public/assets2/layout.js"></script>
   
    <style>
.apexcharts-text tspan {
            font-family: inherit;
            font-weight: bold;
            color-interpolation: linearrgb;
        }
        .card-header {
            border-bottom: 1px solid var(--vz-border-color);
        }
        .card-title {
            font-size: 16px;
            margin: 0 0 7px 0;
            color: black;
        }
    
        .footer {
            background-color: var(--vz-footer-bg);
            width: 100%;
        }
        .new-style .container-fluid{
            max-width: 100% !important;
        }
        [data-layout=horizontal] .page-content{
            margin-top: 0 !important;
        }
        .nowrap{
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        h1{
                font-size:30px;
            }
            /*Table Style One*/
            .table .table-header{
                background:white;
                color:#333;
            }
            .table .table-header .cell{               
                text-align: center;
                color: black;
            }
            @media screen and (max-width: 640px){
                table {
                    overflow-x: auto;
                    display: block;
                }
                .table .table-header .cell{
                    padding:20px 5px;
                    text-align: center;
                }
            }
            .textcenter{
                text-align: center;
            }
            .text-muted{
                color: #777 !important;
            }
            .text-uppercase {
                text-transform: uppercase !important;
            }
            .ri-space-ship-line:before {
                content: "\f166";
                margin-left: 13px;
            }
            .ri-arrow-down-circle-line:before {
                content: "\ea4a";
                margin-right: 10px;
            }
            .footer {
                /* color: blueviolet; */
                background: #2f368a;;
            }
            .overflowx{
                overflow-x: scroll;
                margin-right: 10px;
            }
            /* body {
                background-color: #e6b3cc;
            } */
            @media screen and (min-width:1920px){
                .overflowx{
                    overflow-x: unset;
                }
            }
            .logo{
            margin-left: -292px;
            }
            .py-4 {
            padding-top: 1.5rem!important;
            padding-bottom: 1.5rem!important;
            border: 1px solid #000;
            border-color: #c59237!important;
            }
            .logo-main {
                width: 40%;
            }
            .strip {
                width: 100%;
                background: #2f368a;
                height: 30px;
            }
            [data-layout=horizontal] .page-content{
                padding-top: 10px !important;
            }
            .crm-widget .col{
                border: none !important;
            }
            .page-content.new-style .card {
                box-shadow: none !important;
            }
            .py-4{
                margin: 0 10px !important;
                    border-radius: 10px;
                }
               
                .col-xl-12 {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 auto;
                    flex: 0 0 auto;
                    width: 70%;
                    margin-left: 263px;
                }
                .btn-info {
                    color: #fff;
                    background-color: #2f368a;
                    border-color: #2f368a;
                    margin-left: 401px;                    
                }
                .section1{
                    padding: 10px 0;
                }
                .burron {display: inline-flex;margin: 6px 0;}
                .burron .product_class {margin: 0 5px;background: #2f368a;border-radius: 5px;}
                button.btn.btn-soft-success.shadow-none {color: #fff;font-size: 17px;}
                .section10 {
                    background: #2c458f;
                    padding: 0 20px;
                }
                .section11 {
                    padding: 20px 20px 0 20px;
                }
                .bodt_txt {
                    font-weight: bold;
                    font-size: 15px;
                    color: #495057 !important;
                }
                .ff-secondary.mb-4 span {
                    font-size: 30px;
                }
                .padt-0{padding-top: 0;}
                .section12 {
                    margin: 10px 20px;
                }
            /* bitpage */
        .lemon-yellow.section3 {
            background: #f7efc1;
            padding: 100px 0;
        }
        .gold-border {
            border: 2px solid #c49036;
            padding: 0;
            margin: 0 auto;
            margin-bottom: 25px;
        }
        input.input-amount {
            width: 300px;
            max-width: 86%;
            height: 45px;
            margin-top: 25px;
        }
        .bid-button {
            width: 200px;
            max-width: 100%;
            border-radius: 5px;
            float: right;
            margin-top: 20px;
            background: #2f368a;
            font-size: 18px;
            font-weight: bold;
            line-height: 20px;
            color: #fff;
            padding: 15px;
        }
        span.text-bold {
            font-size: 22px;
            font-weight: 600;
            
        }
        .right h2 {
            color: #cb9d4b;
            text-align: left;
            font-weight: normal;
            margin-bottom: 0;
        }
        .section4.white {
            background: #fff;
            padding: 25px;
            font-family: 'Noto Serif', serif;
            margin: 50px 0;
        }
        img.left-product {
        width: 95%;
    }
    .left {width: 50%;
}
        .right p {
            line-height: 35px;
        }
        i.fa-solid.fa-indian-rupee-sign {
            background: #2f368a;
            padding: 10px;
            color: #fff;
            font-size: 25px;
            line-height: 25px;
            vertical-align: middle;
            position: relative;
            right: -5px;
            top: -2px;
        }
        .strip {
            width: 100%;
            background: #2f368a;
            height: 30px;
        }
        .new-style .container-fluid{
            max-width: 100% !important;
        }
        [data-layout=horizontal] .page-content{
            margin-top: 0 !important;
        }
        .nowrap{
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .btn-info {
            color: #fff;
            background-color: #2f368a;
            border-color: #2f368a;
            margin-left: 401px;
        }
        h1{
                font-size:30px;
            }
            /*Table Style One*/
            .table .table-header{
                background:#c59237;
                color:#333;
            }
            .table .table-header .cell{
                padding:20px;
                text-align: center;
            }
            @media screen and (max-width: 640px){
                table {
                    overflow-x: auto;
                    display: block;
                }
                .table .table-header .cell{
                    padding:20px 5px;
                    text-align: center;
                }
            }
            .textcenter{
                text-align: center;
            }
            .text-muted{
                color: #777 !important;
            }
            .text-uppercase {
                text-transform: uppercase !important;
            }
            .ri-space-ship-line:before {
                content: "\f166";
                margin-left: 13px;
            }
            .ri-arrow-down-circle-line:before {
                content: "\ea4a";
                margin-right: 10px;
            }

            
            footer.footer {
                /* color: blueviolet; */
                background: #2f368a;;
            }
            .overflowx{
                overflow-x: scroll;
                margin-right: 10px;
            }
            @media screen and (min-width:1600px){
                .overflowx{
                    overflow-x: unset;
                }
            }
            .logo{
            margin-left: -292px;
            }
            .card-header:first-child {
                border-radius: 0.25rem 0.25rem 0 0;
                background: #e7a5a5;
                border: 2px solid #c49036;
            }
            .product_class {
                    position: absolute;
                    vertical-align: middle;
                }
                .card.kana {
                top: 15%;
            }       
            .right-boxx {
            float: left;
            margin-left: 70px;
        }
        .right-boxx h4 {
    font-size: 26px;
    font-weight: bold;
    color: #c49036;
    margin-top: 25px;
}
.box-content {
    border: 1px solid #eee;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    display: inline-flex;
    margin: 10px 15px 15px 0;
    box-shadow: 1px 3px 5px #eee;
}
.section4.white .container-fluid {
    width: 1366px;
}
.bg-two {
    border-color: #dfdfdf;
    border-radius: 5px;
    box-shadow: 4px 6px 10px -3px #bfc9d4;
    padding: 25px 15px;
}
.bg-five {
    border-color: #dfdfdf;
    border-radius: 5px;
    box-shadow: 4px 6px 10px -3px #bfc9d4;
    padding: 25px 15px;
}
.bg-one {
    border-color: #dfdfdf;
    border-radius: 5px;
    box-shadow: 4px 6px 10px -3px #bfc9d4;
    padding: 25px 15px;
}
.bg-four {

    border-color: #dfdfdf;
    border-radius: 5px;
    box-shadow: 4px 6px 10px -3px #bfc9d4;
    padding: 25px 15px;
}
p.box-content.bg-four span {
    display: block;
}
.sep{
    display: grid;
    max-width: 175px;
}
.active{
    background: #11d1b7;
    }
    .main-bt {
    color: #fff;
    font-size: 18px;
    margin: 15px 5px;
    padding: 7px 20px;
    border-radius: 5px;
    }
    a.main-bt:hover {
    color: #fff;
}
    </style>
</head>

<body>

    <!-- Begin page -->

    <div class="section1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <a href="/"> <img src="assets/images/logo.png"  alt="Logo" class="logo-main" /></a>
                </div>                    
            </div>
        </div>
    </div>
   
    <div class="section10">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                        <div class="burron">
                            <div>
                                <a href="/product_details" class="main-bt active" > <i class="ri-add-circle-line align-middle me-1"></i> Product List</a>
                            </div> 
                            <div>
                                <a href="/user_list" class="main-bt"><i class="ri-pulse-line"></i>Users</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-header">                                   
        <h4 class="card-title mb-0 flex-grow-1" style="font-weight: bold;">Product Details</h4>
    </div>
   
    <div class="section4 white">      
        <div class="container-fluid"> 
            <%for(var t=0; t < user_list.length; t++){%>   
                <div class="row">
                    <div class="col-md-12 gold-border ">
                            <div class=" col-md-3 nowrap pull-left">
                                <img src="https://assets.stylori.com/bidding/product0<%-user_list[t].Item_code%>.png" alt="" title="" class="left-product" />
                            </div>
                            <div class="col-md-8 right-boxx">
                                <h4 class="text-uppercase" id="Item_code-<%-user_list[t].Item_code%>"><%-user_list[t].Item_Name%></h4>
                                <p class="box-content">Gross wt:&nbsp <span id="grossPro-<%-user_list[t].Item_code%>"> <%-user_list[t].Gross_weight%> gms</span></p>
                                <%if (user_list[t].Net_weight >0) {%><p class="box-content">Diamond:&nbsp <span id="netPro-<%-user_list[t].Item_code%>"> <%-user_list[t].Net_weight%> carats</span></p> <%}%>
                                <p class="box-content">Value:&nbsp &#8377; <span id="valPro-<%-user_list[t].Item_code%>">  <%- new Intl.NumberFormat('en-IN').format(user_list[t].Item_Value)%></span></p>
                                <p class="box-content">Current bid:&nbsp &#8377; <label class="bidtext" id="pro-<%-user_list[t].Item_code%>"><%-user_list[t].Final_bid%></label></p>
                                <div class="box-4">
                                    
                                <%
                                var name = user_list[t].name
                                if(!name){
                                    name="No User Bid"
                                    }
                                    else{
                                        name= user_list[t].name
                                    }
                            %>
                                    <p class="box-content bg-two"><strong>Highest Bid:&nbsp &#8377;</strong><span id="netPro-<%-user_list[t].Final_bid%>"> <%-user_list[t].Final_bid%></span></p>
                                    <p class="box-content bg-five"><strong>Name: &nbsp</strong> <span id="valPro-<%=name%>"><%=name%></span></p>
                                    <%
                                    var recent_time = moment(user_list[t].recent).format('hh:mm A')
                                %>
                                    <p class="box-content bg-one"><strong>Bid Time: &nbsp</strong><span id="valPro-<%-user_list[t].recent%>"><%-recent_time%></span></p>
                                    <p class="box-content bg-four"><strong>Total Users Bid:&nbsp </strong><span id="valPro-<%-user_list[t].total_user_count%>"> <%-user_list[t].total_user_count%></span></p>
                                </div>
                                <div>
                                <div class="box-4">
                                    <p class="box-content bg-one"><strong>Successful Bids:&nbsp</strong><span id="valPro-<%-user_list[t].Success%>"> <%-user_list[t].Success%></span></p>
                                    <p class="box-content bg-two"><strong>Unsuccessful Bids:&nbsp</strong><span id="valPro-<%-user_list[t].Failure%>"> <%-user_list[t].Failure%></span></p>
                                    <p class="box-content bg-five"><strong>No of Bid:&nbsp</strong><span id="grossPro-<%-user_list[t].total_bit_count%>"> <%-user_list[t].total_bit_count%></span></p>
                                    <a href="/product_bidding?Item_code=<%=user_list[t].Item_code%>" >                                     
                                        <button class="bid-button" type="button" title="Bidding Details">Bidding Details</button>
                                    </a>
                                </div>
                            </div>
                            
                    </div> 
                </div> 
                       
        </div>
        <%}%> 
    </div>
    </div>


    
</body>


<%- include('./partials/footer.ejs')%>
</html>